<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/MyStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.min.css') }}">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.7.1.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>

  <h1 class="logo">List Gambar Roast Observer Dari User Apps</h1>
  {% for item in data %}
  <h5 id="keterangan">Jumlah Masing-masing class Pada Dataset ({{item.Total}}): Mentah: {{item.Mentah}}, 
    Light Roast: {{item.Light}}, Medium Roast: {{item.Medium}}, Dark Roast: {{item.Dark}}</h5>
  {% endfor %}
  <section class="row">
    <table id="ListFoto">
      <tr>
        <th>Gambar</th>
        <th>Rename Sebagai Class</th>
        <th>Simpan Gambar Ke Dataset</th>
        <th style="display:none">Name</th>
        <th>Tolak / Hapus Gambar</th>
      </tr>
      <!-- loop table -->
      {% for image in images %}
      <tr>
        <td>
          <img src="{{ url_for('static', filename='Gambar_Send/' + image) }}">
        </td>
        <td>  
          <select name="kelas" id="kelas">
            <option value="Mentah">Mentah</option>
            <option value="Light Roast">Light Roast </option>
            <option value="Medium Roast">Medium Roast</option>
            <option value="Dark Roast">Dark Roast</option>
          </select>
        </td>
        <td>
          <button class="btn info" id="AmbilData" onclick="getId(this)"> 
            <i class="fa fa-save"></i>
            <b>Approve</b>
          </button>
        </td>
        <!-- nama image -->
        <td style="display:none">{{ image }}</td>
        <td>
          <button class="btn danger" id="hapus" onclick="IdHapus(this)">
            <i class="fa fa-remove"></i>
            <b>Tolak</b>
          </button>

        </td>
      </tr>
      {% endfor %}
      <!-- end loop table -->
    </table>

    <script type=text/javascript src="{{url_for('static', filename='js/Function.js') }}"></script>

  </body>
</html>