body{
background-color: #F9D35C;    
}

#photo{
    width:180px;
    height:200px; 
    border-radius: 5px;
    margin: 16px;
}

.imgbtnBeranda{
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    margin-top: 16px;
}

#btn{
    height: auto;
    width: auto;
    max-width: 90px;
    max-height: 90px;
    margin-top: 16px;
}

#box-hasil{
    background-color:#ffdb00;
    width: 300px;
    border: 5px solid#fdbf00;
    padding: 5px;
    /* margin: 16px 0px 16px 45px; */
    margin: auto;
    text-align: center;
    font-size: 12px;
    display: none;
}

/* Custom dropdown */
.select-box {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 0px auto;
    width: 100%;
  }
 
option{
    color: #fff;
    display: block;
    font-size: 12px;
    text-align: center;
    background: #fdbf00;
}
  
  .select,
  .label {
    color: #fff;
    display: block;
    /* font-size: 12px; */
    font: 400 17px/2em;
    /* text-align: center; */
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: #fdbf00;
  }
  
  .label {
    position: relative;
    padding: 5px 10px 5px 0px;
    cursor: pointer;
    text-align: center;
  }

#box{
  height: auto;
  width: auto;
  /* max-width: 332px;
  max-height: 650px; */
  margin: 40px 32px 16px 35px;
  padding: 5px;
  background-color:#fdbf00;
  position: relative;
}

